
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

table {
    width: 90%;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #e4d904;
    color: rgb(38, 35, 35);
    font-size: 18px;
}

td {
    font-size: 16px;
    color: #333;
}

tr:hover {
    background-color: #f1f1f1;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

table th:first-child, table td:first-child {
    border-left: 2px solid #ddd;
}

table th:last-child, table td:last-child {
    border-right: 2px solid #ddd;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    text-align: center;
    border: none;
    cursor: pointer;
}

/* Approve Button */
.approve-btn {
    background-color: #28a745;
    color: white;
}

.approve-btn:hover {
    background-color: #218838;
}

/* Reject Button */
.reject-btn {
    background-color: #dc3545;
    color: white;
}

.reject-btn:hover {
    background-color: #c82333;
}

/* Delete Button */
.delete-btn {
    background-color: #ff4757;
    color: white;
}

.delete-btn:hover {
    background-color: #e84118;
}